:root {
    --primary-color: #04cb97;
    --text-color: #fff9f9;
    --text-color-secundary: rgba(250, 250, 250, 0.8);
    --secundary-color: #01052b;
    --hover-card: rgba(4, 4, 4, 0.5);
}

.experience {
    background-image: url('./experience.png');
    box-shadow: inset 0 0 4em 4em var(--secundary-color);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 150px 16% 150px;
    color: white;
    width: 100%;
}

.experience__title {
    width: 1139px;
}

.experience__title h3 {
    color: var(--primary-color);
    font-size: 40px;
}

.section__title {
    width: 100%;
}

.section__title h3 {
    color: var(--primary-color);
    font-size: 35px;
}

.card {
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    min-height: 329px;
    display: grid;
    grid-template-areas:
    'company company'
    'logo title'
    'logo date'
    'logo paragraph';
    grid-template-columns: 300px 1fr;
    grid-template-rows: 54px repeat(3, auto);
    align-items: center;
    justify-content: left;
    overflow: hidden;
    text-align: left;
}

.card__title {
    grid-area: company;
    background-color: var(--primary-color);
    font-size: 30px;
    border: none;
    padding: 12px 0 12px 300px;
}

.card__img {
    grid-area: logo;
    background-color: var(--text-color);
    padding: 8px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.card__subtitle {
    grid-area: title;
    margin-top: 16px;
    font-size: 25px;
}

.card__date {
    grid-area: date;
    margin: 8px 0 16px;
    font-size: 20px;
}

.card__content {
    grid-area: paragraph;
    margin-bottom: 32px;
    margin-right: 24px;
    font-size: 16px;
    color: var(--text-color-secundary);
}
